Great, Rohit! Here's a **complete set of clear, interview-ready answers** for your SQL and MySQL questions. Focus on understanding the *concepts* — most interviewers will ask follow-ups.

---

### 🔹 **Basic SQL**

1. **What is SQL?**
   SQL (Structured Query Language) is a standard language used to store, retrieve, manage, and manipulate data in relational databases like MySQL, PostgreSQL, Oracle, etc.

2. **What are the different types of SQL commands?**

   * **DDL (Data Definition Language):** `CREATE`, `ALTER`, `DROP`
   * **DML (Data Manipulation Language):** `INSERT`, `UPDATE`, `DELETE`
   * **DCL (Data Control Language):** `GRANT`, `REVOKE`
   * **TCL (Transaction Control Language):** `COMMIT`, `ROLLBACK`, `SAVEPOINT`
   * **DQL (Data Query Language):** `SELECT`

3. **What is the difference between DELETE, TRUNCATE, and DROP?**

   | Command    | Description               | Can Rollback | Removes Table? |
   | ---------- | ------------------------- | ------------ | -------------- |
   | `DELETE`   | Deletes rows (with WHERE) | ✅ Yes        | ❌ No           |
   | `TRUNCATE` | Deletes all rows (faster) | ❌ No         | ❌ No           |
   | `DROP`     | Deletes table structure   | ❌ No         | ✅ Yes          |

4. **What is a primary key and foreign key?**

   * **Primary Key:** Uniquely identifies each row. Not null and unique.
   * **Foreign Key:** A field in one table that refers to the **primary key** in another table.

5. **What are constraints in SQL?**
   Constraints are rules applied to columns to enforce data integrity. Examples:

   * `NOT NULL`, `UNIQUE`, `CHECK`, `PRIMARY KEY`, `FOREIGN KEY`

6. **What is the difference between WHERE and HAVING?**

   * `WHERE`: Filters rows **before** grouping. Used with `SELECT`, `UPDATE`, etc.
   * `HAVING`: Filters groups **after** `GROUP BY`.

7. **What is the use of GROUP BY and ORDER BY?**

   * `GROUP BY`: Groups rows with the same values (used with aggregate functions).
   * `ORDER BY`: Sorts the result set (ascending by default).

8. **What are joins? Name different types of joins.**
   Joins combine rows from two or more tables based on a related column.
   Types:

   * `INNER JOIN` – Matching records only
   * `LEFT JOIN` – All from left + matching from right
   * `RIGHT JOIN` – All from right + matching from left
   * `FULL JOIN` – All records with matches or NULLs
   * `SELF JOIN` – Table joined with itself
   * `CROSS JOIN` – Cartesian product

9. **What is a subquery?**
   A query inside another query.
   Example:

   ```sql
   SELECT name FROM employees WHERE salary > (SELECT AVG(salary) FROM employees);
   ```

10. **What is normalization? What are its types?**
    Normalization reduces data redundancy and improves data integrity.
    Common types:

    * 1NF – Atomic values
    * 2NF – No partial dependency
    * 3NF – No transitive dependency
    * BCNF – Advanced 3NF

---

### 🔹 **MySQL-Specific**

1. **What is MySQL and how is it different from other databases?**
   MySQL is an open-source relational database management system.
   Differences:

   * Free and widely used
   * Uses SQL
   * Supports replication and clustering
   * Lightweight compared to Oracle

2. **How do you create a database and table in MySQL?**

   ```sql
   CREATE DATABASE mydb;
   USE mydb;
   CREATE TABLE employees (
       id INT PRIMARY KEY,
       name VARCHAR(50),
       salary DECIMAL(10, 2)
   );
   ```

3. **What are AUTO\_INCREMENT and DEFAULT in MySQL?**

   * `AUTO_INCREMENT`: Automatically generates a unique value (often for primary key).
   * `DEFAULT`: Sets a default value for a column if no value is provided.

4. **What is the difference between CHAR and VARCHAR in MySQL?**

   * `CHAR(n)`: Fixed-length. Pads with spaces.
   * `VARCHAR(n)`: Variable-length. Saves space.

5. **How do you use LIMIT and OFFSET in MySQL?**

   ```sql
   SELECT * FROM employees LIMIT 10 OFFSET 5;
   ```

   * Retrieves 10 records, skipping the first 5.

6. **How to fetch top N records from a table?**

   ```sql
   SELECT * FROM employees ORDER BY salary DESC LIMIT 5;
   ```

7. **How to find duplicate records in MySQL?**

   ```sql
   SELECT name, COUNT(*) 
   FROM employees 
   GROUP BY name 
   HAVING COUNT(*) > 1;
   ```

8. **How to update data in MySQL using JOIN?**

   ```sql
   UPDATE employees e
   JOIN departments d ON e.dept_id = d.id
   SET e.salary = e.salary + 5000
   WHERE d.name = 'HR';
   ```

9. **What is a view? How do you create one?**
   A **view** is a virtual table based on a SELECT query.

   ```sql
   CREATE VIEW high_salary AS 
   SELECT name, salary FROM employees WHERE salary > 50000;
   ```

10. **How do you perform a backup and restore in MySQL?**

* **Backup:**

  ```bash
  mysqldump -u root -p mydb > backup.sql
  ```
* **Restore:**

  ```bash
  mysql -u root -p mydb < backup.sql
  ```

---

### 🔹 **Practice Queries**

1. **Find the second highest salary from an employee table:**

   ```sql
   SELECT MAX(salary) AS second_highest
   FROM employees
   WHERE salary < (SELECT MAX(salary) FROM employees);
   ```

2. **Query to count the number of employees in each department:**

   ```sql
   SELECT dept_id, COUNT(*) AS total_employees
   FROM employees
   GROUP BY dept_id;
   ```

3. **Get names of employees who joined in the last 30 days:**

   ```sql
   SELECT name FROM employees
   WHERE join_date >= CURDATE() - INTERVAL 30 DAY;
   ```

4. **List employees who do not have managers:**

   ```sql
   SELECT * FROM employees WHERE manager_id IS NULL;
   ```

5. **Get department with the highest number of employees:**

   ```sql
   SELECT dept_id, COUNT(*) AS total
   FROM employees
   GROUP BY dept_id
   ORDER BY total DESC
   LIMIT 1;
   ```

---

✅ **Tips for Interview:**

* Stay calm and speak clearly.
* If unsure, explain what you know.
* Give real examples if possible.

Would you like me to quiz you on these for revision before the interview?